.home{
    padding-bottom: 39px;
    position: relative;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list{
    display: flex;
    column-gap: 70px;

}
.img{
    width: 100%;
}
.link{
    color: var(--black);
}
.link:hover{
    color: var(--pink);
    transition: .6s;
}
.item{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: var(--black);
}

.right{
    display: flex;
    column-gap: 30px;
    align-items: center;
}
.enter{
    font-weight: 700;
    font-size: 16px;
    color: #696F7A;
}
.cart{
    border-radius: 8px;
    background-color: var(--pink);
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 7px 25px;
    cursor: pointer;
}
.top{
    font-size: 90px;
    background: none;
    border: none;
    color: var(--pink);
    position: fixed;
    top: 50%;
    right: 0;
    cursor: pointer;

}
.user{
    display: flex;
    column-gap: 5px;
    color: var(--black);
    align-items: center;
    cursor: pointer;

}
.user:hover{
    color: var(--pink);
    transition: 0.4s;
}
.userIcon{
    font-size: 35px;
    margin-top: 10px;
}
.userTitle{
    color: #aaa;
    font-size: 10px;
    opacity: 0.7;
}
.userSub{
    font-size: 16px;

}

@media (max-width: 1024px) {
    .list{
        column-gap: 50px;
    }
}
@media (max-width: 768px) {
    .row{
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 10px;
    }
}
@media (max-width: 576px){
    .list{
        column-gap: 40px;
    }
    .item{
        font-size: 12px;
    }
}@media (max-width: 426px){
    .list{
        column-gap: 30px;
    }
    .item{
        font-size: 10px;
    }
}
@media (max-width: 376px){
    .list{
        column-gap: 25px;
    }
}
