.card{
    width: calc(25% - 33.75px);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    
}
.cardImg{
    width: 100%;


}

.cardImg:hover{
    transform: scale(0.9);

    transition: 0.5s;
}

.cardTitle{
    font-weight: 800;
    font-size: 20px;
    line-height: 28px;
    color: var(--black);
}
.cardSubtitle{
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #686466;
    margin: 18px 0 23px;
}
.cardBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardPrice{
    font-weight: 700;
    font-size: 22px;
    line-height: 19px;
    color:var(--black)
}
.cardBtn{
    transition: 0.9s;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    border-radius: 10px;
    background: rgb(255,46,101);
    background: linear-gradient(124deg, rgba(255,46,101,1) 0%, rgba(252,69,245,1) 100%);
    padding: 4px 10px;
    cursor: pointer;
    border: none;
}
.cardBtn:hover{
    transition: 0.9s;
    background: rgb(247,106,144);
    background: linear-gradient(124deg, rgba(247,106,144,1) 0%, rgba(128,65,125,1) 100%);
}
.itemCount{
    display: flex;
    background: #F3F3F7;
    border-radius: 8px;
    color: #686466;
    padding: 2px 7px;
    column-gap: 20px;
    align-items: center;
    max-width: 83px;
    margin-top: 10px;
}
.itemCountBtn{
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
}

@media (max-width: 931px) {
    .cardPrice{
        font-size: 20px;
    }
}
@media (max-width: 768px){
    .card{
        width: calc(33.33333% - 30px);
    }
}
@media (max-width: 576px){
    .card{
        width: calc(50% - 22.5px);
    }

}

@media (max-width: 476px) {
    .cardBlock{
        flex-direction: column;
        row-gap: 5px;
        align-items: flex-start;
    }
    .cardTitle{

        font-size: 13px;
    }
    .cardPrice{
        font-size: 14px;
    }
    .cardBtn{
        margin-top: 10px;
    }
    .cardSubtitle{font-size: 11px;
        line-height: 15px;}
    .card{
        flex-direction: row;
        width: 100%;
        align-items: center;
        column-gap: 10px;
    }
.cardColumn{
    width:calc(50% - 5px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 4px;
}
    .cardImg{
        width:calc(50% - 5px);
    }
    .cardTitle{
        font-size: 16px;
    }
    .cardSubtitle{
        margin: 0;
    }

}
