.modal{
    opacity: 1;
    width: 100%;
    height: 100vh;
    background: rgba(25, 25, 25, 0.4);
    backdrop-filter: blur(12px);
    transition:  700ms;
display: block;
    position: fixed;
    top: 0;
    left: 0;
    transform: scale(1);

}
.modalNon{
    
opacity: 0;
    transition:  300ms;
    position: relative;
 top: 0;
    left: 0;
    transform: scale(0);




}
.info{
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    padding: 70px 40px ;
}
.content{
    display: flex;
    column-gap: 30px;

    align-items: center;


}
.img{
    width: 35%;

}
.block{
    display: flex;
    column-gap: 25px;
    align-items: center;
}
.title{
    font-size: 32px;

    color: var(--pink);
    margin-bottom: 10px;
}
.comp{
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 10px;
    color: #686466;

}
.price{

    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: #FF2E65;
}
.btn{
    background: var(--pink);
    border-radius: 8px;
    font-weight: 800;
    font-size: 15px;
    line-height: 28px;
    color: #FFFFFF;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;


}
.btn:hover{
   opacity: 0.9;
    color: #F2F2F2;
    transition: 0.8s;
}
.btnClose{
    font-size: 40px;
    background: none    ;
    border: none;
    color: white;
    position: absolute;
    right: -30px;
    top: -30px;
    cursor: pointer;
}
.close{
    transition: all 800ms ease-in-out;
}

.close:hover{

    transform: rotate(360deg);

}

@media (max-width: 768px){
    .info{
        padding: 0 30px 20px;
    }
    .content{
        flex-direction: column;
    }
    .img{
        width: 100%;
    }
}

@media (max-width: 426px) {
    .btnClose{
        right: 20px;
        top: 15px;
        color: var(--pink);
    }
    .info   {
        width: 100%;
    }

}

@media (max-width: 321px) {
    .btnClose{
        right: 38px;


    }

}
