.section{
    margin-top: 40px;

}
.title{

}
.row{

    margin-top: 15px;
    display: flex;
    column-gap: 45px;
    flex-wrap: wrap;
row-gap: 30px;
}
.block{
    display: flex;
    column-gap: 10px;

}
.back{
    font-size: 30px;
    color: var(--pink);
}
.rowBlock{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sort{
    margin: 0 20px 0 10px;
    border-bottom: 1px dashed;
    color: #2b2b2b;
    opacity: .5;
    cursor: pointer;
    position: relative;
}
.sort.active{
    color:#f46b45;
    opacity: 1;
    transition: .5s;

}
.sort:hover{
    color:#f46b45;
    opacity: 1;
    transition: .5s;
}
@media (max-width: 576px) {
    .row{
        row-gap: 0;
    }
}
@media (max-width: 476px){
    .sort{
        margin: 0 10px 0 5px;
    }
}

@media (max-width: 426px) {
    .sortBlock{
        font-size: 12px;
    }
}
@media (max-width: 376px) {
    .row{
        row-gap: 15px;
    }
    .title{
        margin-left: 15px;
    }
}
@media (max-width: 320px){
    .sortBlock{
        font-size: 10px;
    }
    .sort{
        margin: 0 5px 0 0;
    }
    .title{font-size: 20px}

}